In [1]:
import pandas as pd
import numpy as np

#### 2019년 1분기

In [2]:
#데이터셋 가져오기
df20191 = pd.read_csv('report.txt', delimiter = "\t")

df20191.rename(columns=df20191.iloc[0])
df20191 = df20191.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20191['기간']:
    year.append(i.split('.')[0])
df20191['연도']=year

quarter = []
for i in df20191['기간']:
    quarter.append(i.split('.')[1])
df20191['분기']=quarter

for i in df20191['분기']:
    quarter = i.split('/')[0]
df20191['분기']=quarter

df20191 = df20191.drop('기간', axis=1)

#### 2019년 2분기

In [3]:
#데이터셋 가져오기
df20192 = pd.read_csv('report (1).txt', delimiter = "\t")

df20192.rename(columns=df20191.iloc[0])
df20192 = df20192.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20192['기간']:
    year.append(i.split('.')[0])
df20192['연도']=year

quarter = []
for i in df20192['기간']:
    quarter.append(i.split('.')[1])
df20192['분기']=quarter

for i in df20192['분기']:
    quarter = i.split('/')[0]
df20192['분기']=quarter

df20192 = df20192.drop('기간', axis=1)

#### 2019년 3분기

In [4]:
#데이터셋 가져오기
df20193 = pd.read_csv('report (2).txt', delimiter = "\t")

df20193.rename(columns=df20193.iloc[0])
df20193 = df20193.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20193['기간']:
    year.append(i.split('.')[0])
df20193['연도']=year

quarter = []
for i in df20193['기간']:
    quarter.append(i.split('.')[1])
df20193['분기']=quarter

for i in df20193['분기']:
    quarter = i.split('/')[0]
df20193['분기']=quarter

df20193 = df20193.drop('기간', axis=1)

#### 2019년 4분기

In [5]:
#데이터셋 가져오기
df20194 = pd.read_csv('report (3).txt', delimiter = "\t")

df20194.rename(columns=df20194.iloc[0])
df20194 = df20194.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20194['기간']:
    year.append(i.split('.')[0])
df20194['연도']=year

quarter = []
for i in df20194['기간']:
    quarter.append(i.split('.')[1])
df20194['분기']=quarter

for i in df20194['분기']:
    quarter = i.split('/')[0]
df20194['분기']=quarter

df20194 = df20194.drop('기간', axis=1)

#### 2020년 1분기

In [6]:
#데이터셋 가져오기
df20201 = pd.read_csv('report (4).txt', delimiter = "\t")

df20201.rename(columns=df20201.iloc[0])
df20201 = df20201.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20201['기간']:
    year.append(i.split('.')[0])
df20201['연도']=year

quarter = []
for i in df20201['기간']:
    quarter.append(i.split('.')[1])
df20201['분기']=quarter

for i in df20201['분기']:
    quarter = i.split('/')[0]
df20201['분기']=quarter

df20201 = df20201.drop('기간', axis=1)

#### 2020년 2분기

In [7]:
#데이터셋 가져오기
df20202 = pd.read_csv('report (5).txt', delimiter = "\t")

df20202.rename(columns=df20202.iloc[0])
df20202 = df20202.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20202['기간']:
    year.append(i.split('.')[0])
df20202['연도']=year

quarter = []
for i in df20202['기간']:
    quarter.append(i.split('.')[1])
df20202['분기']=quarter

for i in df20202['분기']:
    quarter = i.split('/')[0]
df20202['분기']=quarter

df20202 = df20202.drop('기간', axis=1)

#### 2020년 3분기

In [8]:
#데이터셋 가져오기
df20203 = pd.read_csv('report (6).txt', delimiter = "\t")

df20203.rename(columns=df20203.iloc[0])
df20203 = df20203.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20203['기간']:
    year.append(i.split('.')[0])
df20203['연도']=year

quarter = []
for i in df20203['기간']:
    quarter.append(i.split('.')[1])
df20203['분기']=quarter

for i in df20203['분기']:
    quarter = i.split('/')[0]
df20203['분기']=quarter

df20203 = df20203.drop('기간', axis=1)

#### 2020년 4분기

In [9]:
#데이터셋 가져오기
df20204 = pd.read_csv('report (7).txt', delimiter = "\t")

df20204.rename(columns=df20204.iloc[0])
df20204 = df20204.drop(index=[0], axis=0)

#기간을 연도와 분기 컬럼으로 나누기
year = []
for i in df20204['기간']:
    year.append(i.split('.')[0])
df20204['연도']=year

quarter = []
for i in df20204['기간']:
    quarter.append(i.split('.')[1])
df20204['분기']=quarter

for i in df20204['분기']:
    quarter = i.split('/')[0]
df20204['분기']=quarter

df20204 = df20204.drop('기간', axis=1)

In [10]:
df = pd.concat([df20191, df20192, df20193, df20194, df20201, df20202, df20203, df20204])

In [11]:
df

    광역상권 하위상권    임대료   공실률 수익률 정보 수익률 정보.1 수익률 정보.2    연도 분기
1     서울   서울   57.9   7.5   1.73     0.92     0.81  2019  1
2   도심지역   소계   99.9     7   1.75     1.01     0.73  2019  1
3   도심지역  광화문   87.2    10   1.59      1.1     0.49  2019  1
4   도심지역  동대문   36.6  10.6   1.53     0.88     0.64  2019  1
5   도심지역   명동  295.1   8.8   1.67     0.94     0.73  2019  1
..   ...  ...    ...   ...    ...      ...      ...   ... ..
51  기타지역  장안동   32.7    11   1.39     0.66     0.72  2020  4
52  기타지역   천호   43.8   5.7   2.01     0.82     1.19  2020  4
53  기타지역  청량리   46.7   4.6   1.86     0.84     1.01  2020  4
54  기타지역  혜화동   66.8  14.6   0.93     0.63      0.3  2020  4
55  기타지역   화곡   34.4  12.5   1.76     0.88     0.87  2020  4

[400 rows x 9 columns]

In [12]:
df.to_csv('rent.csv')

In [13]:
df20191.shape

(45, 9)

In [14]:
df20192.shape

(45, 9)

In [15]:
df20193.shape

(45, 9)

In [17]:
df20194.shape

(45, 9)

In [18]:
df20201.shape

(55, 9)

In [19]:
df20202.shape

(55, 9)

In [20]:
df20203.shape

(55, 9)

In [21]:
df20204.shape

(55, 9)